<section>
        
    <div class='banner'>
        <div class='text-banner'>    
            <h1 class='text-banner-grande'><b>Nuevos Ingresos</b></h1>
            <p class='text-banner-centro'>Descubri el próximo Funko Pop de tu colección.</p>
            <p><a class='btn-banner-grande' href='/shop'><b>SHOP</b></a></p>
        </div>    
    </div>
    
</section>