<footer>
    <div>
        <ul>
            <li><a href='/auth/register'>REGISTRARSE</a></li>
            <li><a href='/faqs'>PREGUNTAS FRECUENTES</a></li>
            <li><a href='/about'>ACERCA DE...</a></li>
        </ul>
        <picture>
            <img src='/multimedia/branding/isotype.svg' />
        </picture>
    </div>
    <div>
        <span>All rights reserved 2023 - Funkoshop &copy</span>
    </div>
</footer>
