    <%-include('./partials/head')%>

    <body>

        <%-include('./partials/header')%>


            <main class='pad-y-2'>
                <form class='form-create text-medio' action='/admin/create' method='post' enctype='multipart/form-data'>
                    
                    <h1 class='text-grande'>CREAR NUEVO ITEM</h1>
                    <div class='pad-y-2'>
                        <label>Categoría: </label>
                        <select id='category_name' name='category_name' class='select text-medio pad-left-2' placeholder='SELECCIONAR' required>
                            <option></option>
                            <option value='Figuras coleccionables'>Figuras coleccionables</option>
                        </select>
                        <label class='pad-left-2'>Licencia: </label>
                        <select id='licence_name' name='licence_name' class='select text-medio pad-left-2' placeholder='SELECCIONAR' required>
                            <option></option>
                            <option value='Harry Potter'>Harry Potter</option>
                            <option value='Pokemon'>Pokemon</option>
                            <option value='Star Wars'>Star Wars</option>
                        </select>
                    </div>
                    <div class='pad-buttom-1'>
                        <label><b>Nombre del producto: </b></label>
                        <input class='input-form-create' id='product_name' name='product_name' size='40' type='text' value='' required/>
                    </div>
                    <div class='pad-buttom-1'>
                        <textarea class='text-medio' id='product_description' name='product_description' cols='60' rows='5'
                            placeholder='Descripción del producto' required></textarea>
                    </div>
                    <div class='pad-y-2'>
                        <label>SKU: </label><input class='text-medio input-form-create' id='product_sku' name='product_sku'
                            placeholder='SSK001001' value=' ' required/>
                        <label class='pad-left-2'>Precio: $ </label><input class='text-medio input-form-create'
                            id='product_price' name='product_price' size='6' placeholder='1111.11' value='1' required/>
                        <label class='pad-left-2'>Stock: </label><input class='text-medio input-form-create' id='dues'
                            name='stock' type='text' size='3' value='0' required/>
                    </div>
                    <div class='pad-buttom-1'>
                        <label>Descuento: % </label><input class='text-medio input-form-create pad-left-2'
                             type='text' size='3' placeholder='0'/>
                        <label class='pad-left-2'>Cuotas: </label>
                        <select class='text-medio select-cuotas' name='dues'>
                            <option></option>
                            <option value='0'>Contado efectivo</option>
                            <option value='3'>3 cuotas sin interés</option>
                            <option value='6'>6 cuotas sin interés</option>
                            <option value='9'>9 cuotas sin interés</option>
                            <option value='12'>12 cuotas sin interés</option>
                            <option value='15'>15 cuotas sin interés</option>
                            <option value='18'>18 cuotas sin interés</option>
                            <option value='24'>24 cuotas sin interés</option>
                        </select>
                    </div>
                    <div class='pad-buttom-1'>
                        <label>Imágenes: </label>
                        <input id='files' type='file' name='files' multiple>
                    </div>
                    <div class='pad-buttom-1'>
                        <button class='btn-create-rojo' type='submit'>Agregar Producto</button>
                        <button class='btn-create-rojo' type='reset'>Limpiar</button>
                    </div>
                </form>

            </main>


            <%-include('./partials/footer') %>
    </body>

</html>