<%-include('./partials/head')%>

<h1 class='text-error text-center'>Error 404: pagina no encontrada...</h1>
<picture class='contenedor-articulos'>
    <img width='30%' src='/multimedia/error/nodeserver-logo.png' />
    <img width='30%' src='/multimedia/error/john-travolta-lost.gif' />
    <img width='30%' src='/multimedia/error/notebook.png' />
</picture>
<p></p>
</body>
</html>
