    <%-include('./partials/head')%>

    <body>

        <%-include('./partials/header') %>

            <main>
                <p><%=message%></p>
                <div class='contenedor pad-y-2'>
                    <h1 class='text-grande'>INGRESAR A MI CUENTA</h1>
                    <form action='/auth/login' method='post'>
                        <div class='contenedor-login pad-y-2 text-medio'>
                            <div class='pad-1 izquierda'>
                                <label>Email:</b></label>
                            </div>
                            <div class='pad-1 derecha'>
                                <input class='input-log' type='text' name='email' placeholder='example@mail.com'
                                    required>
                            </div>
                            <div class='pad-1 izquierda'>
                                <label>Contraseña:</label>
                            </div>
                            <div class='pad-1 derecha'>
                                <input class='input-log' type='password' name='password' placeholder='*******************'
                                    required>
                            </div>
                        </div>
                        <div class='pad-1'>
                            <button class='btn-rojo-login' type='submit'>INGRESAR</button>
                            <label class='text-recordarme'><b><input type='checkbox' name='recordarme' />
                                Recordarme</b></label>
                        </div>
                        <a href='#' class='text-none'>Olvidé mi contraseña</a>
                    </form>
                </div>

            </main>

            <%-include('./partials/footer')%>

    </body>

</html>