.contenedor-contact {
    width: 50vw;
    margin: 10px auto;
    text-align: center;
    border-radius: 20px;
    border-style: groove;
    border-color: slategrey;
}
 
.button-contact {
    background-color: darkcyan;
    color: white;
    padding: .5rem 2rem;
}
