
.main-index {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 6rem;
  padding-right: 4rem;
  padding-left: 4rem;
}


.articulo-index {
  width: 44vw;
  align-self: center;
}

hr {
  height: 1px;
  background-color: rgb(247, 93, 4);
  color:#fd3d02;
  border-color: rgb(247, 93, 4);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

 
