  
.main-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  justify-content: space-around;  
}

.formulario {
  padding: 2rem;
  display: block;
  font-weight: bolder;
  align-self: center;
}

.form-inp {
  font-size: 1.6rem;
  text-align: center;
}

.form-botones {
  display:flex;
  gap:.3rem;
}

.form-masmenos {
  display:block;
  border-style: none;
  width: 1.2rem;
  height: 1.2rem;
}

