.contenedor-login {
    margin: auto;
    width: 20rem;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-auto-rows: auto;
    justify-content: space-between;
}
 
.input-log {
    font-size: large;
    border-style: none;
    border-bottom-style: groove;
    border-bottom-color:orangered;
}
