
  .contenedor {
      display: block;
      text-align: center;
  }
  
  .contenedor-register {
      margin: auto;
      width: 30rem;
      text-align: left;
      display: grid;
      grid-template-columns: 1fr, 1fr;
      grid-auto-rows: auto;
      justify-content: space-between;
  }
   
    
  