
.shop {
  width: 100%;
  display: grid;
  grid-template-columns: 30vw, 70vw;
  justify-content: space-around;  
}

.form-shop {
  padding: 2rem;
  display: block;
  font-weight: bold;
}

.ancho-cuad {
  width: 14rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 5px;
} 
  
.inp-precio {
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
} 

.form-shop div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-shop div label {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.marg-top {
  margin-top: 2rem;
}

.contenedor-articulos {
  width: 70vw;
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin:80px auto;
  flex-wrap: wrap;
}

