.text-saga-grande {
    font-size: 3rem;
}
 
.text-descripcion-articulo {
    font-size: 1.6rem;
}

.text-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-grande {
    font-size: 2.5rem;
    font-weight: bold;
}

.text-medio {
    font-size: 1.5rem;
    font-weight: 400;
}

.sin-decoracion {
    text-decoration: none;
}

.text-form-saga {
    font-size: 1.2rem;
    color: black;
    padding: .4rem;
}

.text-form-nomb {
    font-size: 2.6rem;
    color: black;
    padding: .4rem;
}

.text-form-desc {
    font-weight: normal;
    font-size: 1.4rem;
    color: black;
    padding: .4rem;
}

.text-form-precio {
    font-weight: normal;
    font-size: 2.6rem;
    color: black;
    padding: .4rem;
}

.text-blanco-grande {
    font-size: 2rem;
    font-weight: bolder;
}

.text-recordarme {
    font-size: 1rem;
    padding-left: 2rem;
}

.text-none {
    font-size: .8rem;
    text-decoration: none;
}

.text-end {
    display: block;
    text-align: end;
}

.text-saga {
    font-weight: bolder;
    font-size: .8rem;
    color: black;
    padding: .4rem;
}

.text-modelo {
    font-weight: bolder;
    font-size: 1.2rem;
    color: black;
    padding: .4rem;
}

.text-precio {
    font-weight: bolder;
    font-size: 1rem;
    color: black;
    padding: .4rem;
}

.text-cuotas {
    font-weight: bolder;
    font-size: 1rem;
    padding: .4rem;
}


.text-titulo-productos {
    font-size: 3rem;
}

.text-negro {
    align-self: center;
    color:black;
}

.text-error {
    margin-top: 10%;
}

.mensaje-error {
    color:red;
    font-size: .8rem;
}