* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    overflow-x: hidden;
}

.izquierda {
    grid-column: 1;
}

.derecha {
    grid-column: 2;
}

.separador {
    width: 100%;
    height: 2rem;
}

.disp-block {
    display: block;
}