
.slider {
    display: flex;
    flex-direction: column;
    gap: 3.6 rem;
    margin: 6.8 rem auto;
}

.slider__title {
    font-size: 2.6rem;
    font-weight: 700;
}

iconify-icon {
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
}

.contenedor-slider {
    max-width: 75vw;
    margin: 0 auto;
}

.grid-fixed {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.glide__arrow--left {
    left: 0;
}

.glide__arrow--right {
    right: 0;
}